<%= form_tag("/", method: "get") do %>
  <%= label_tag(:xml_url, "Search for:") %>
  <%= text_field_tag(:xml_url) %>
  <%= submit_tag("Search") %>
<% end %>

<hr>

<% if @error %>
  <h2>Didn't find anything...check the URL.</h2>
<% elsif @play && !@error %>
  <%= render "partials/winner", winner: @winner %>
  <hr>
  <%= render "partials/data", play: @play %>
<% end %>