<%= form_tag("/", method: "get") do %>
  <%= label_tag(:xml_url, "Search for:") %>
  <%= text_field_tag(:xml_url) %>
  <%= submit_tag("Search") %>
<% end %>

<hr>

<% if @play %>
  <h2>WINNER</h2>
  <p><%= @winner[:name] %> won with <%= @winner[:count] %> lines!</p>

  <hr>

  <h3>Character Name && Their Line Count</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col"># of Lines</th>
      </tr>
    </thead>
    <tbody>
      <% @play.each do |character_name, num_of_lines| %>
        <tr>
          <td><%= character_name %></td>
          <td><%= num_of_lines %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>